*{
    margin: 0;
    padding: 0;
    border: 0;

}
html,body{
    font-family: '微软雅黑';
    /*height: 100%;*/
    background: #c5dfc5;
    font-family: '微软雅黑';
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}
p{
	text-indent: 2em;
	line-height: 160%;
}
.show{
	display: block;
}
#wrapper{
    position: relative;
    width: 930px;
    /*height: 100%;*/
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: #e5e5e5;
    box-shadow: 0px 0px 10px 2px #aaa;
}

/*----------------------header start*/
#header{
    width: 800px;
    margin: 0 auto;
	font-family: Edwardian Script ITC;
	padding: 35px 0 20px;
    text-align: center;
}
#headerContent1{
    font-size: 70px;
}
#headerContent2{
    font-size: 30px;
    background: url(../images/feather.png) no-repeat;
    background-position: 58% 90%;
}
/*----------------------header end*/

/*----------------------menu start*/
#menu{
    width: 800px;
    height: 35px;
    margin: 0 auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#menu ul li{
    line-height: 25px;
    float: left;
    padding: 5px 107px;
    list-style: none;
    cursor: pointer;
    -webkit-transition: color .5s; /* Safari and Chrome */
       -moz-transition: color .5s; /* Firefox 4 */
         -o-transition: color .5s; /* Opera */
            transition: color .5s;
}
#menu ul li:hover{
	color: rgba(0,0,0,0.3);
}

.menuColor{
	color: rgba(0,0,0,0.3);
}

/*------------------------menu end*/

/*------------------------container start*/
#home{
	width: 800px;
	margin: 0 auto;
	display: none;
	display: block;
}
/*宽度230px*/
#homeSide{
	width: 208px;
	/*background: red;*/
	float: left;
	margin-top: 20px;
	border: 1px dashed;
	padding: 20px 10px;
}
#homeSidePhoto{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: url(../images/myRadiusPhoto1.jpg);
	background-position: 50% 30%;
	border-radius: 50%;
	margin-bottom: 20px;
}
#aboutMe{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
#insertMap{
    width: 200px;
    margin: 0 auto;
}
#insertMap iframe{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200px;
    height: 300px;
}
/*宽度570px*/
#homeBlogs{
	width: 528px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px dashed;
	padding: 20px 10px;
}
.homeBlog{
	width: 500px;
	margin: 0 auto;
	height: 400px;
	border: 1px solid;
	border-radius: 5px;
	margin-bottom: 20px;
}
.homeBlogTitle{
	padding-top: 10px;
	padding-left: 30px;
}
.homeBlogImg{
	width: 450px;
	height: 250px;
	margin-top: 10px;
	margin-left: 30px;
}
#homeBlog3 .homeBlogImg{
	background: url(../images/sicun2.jpg);
	background-size: 100% 100%;
}
#homeBlog2 .homeBlogImg{
	background: url(../images/studentUnion1.jpg);
	background-size: 100% 100%;
}
#homeBlog1 .homeBlogImg{
	background: url(../images/dian1.jpg);
	background-size: 100% 100%;
}
.homeBlogContent{
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	text-indent:32px; 
}
.readMore{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: color .5s; /* Safari and Chrome */
       -moz-transition: color .5s; /* Firefox 4 */
         -o-transition: color .5s; /* Opera */
            transition: color .5s;
    text-align: center;
    color: rgba(0,0,0,0.8);
}
.readMore:hover{
    color: rgba(0,0,0,0.3);
}


/*-----------------------container end*/
#clear{
    clear: both;
    width: 800px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 2px solid #c5dfc5;
}
#footer{
    width: 800px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
}

/*-------------------about Page*/
#about{
    width: 800px;
    margin: 0 auto;
    display: none;
}
#aboutTitle{
    font-family: Castellar;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}
#aboutImg{
    float: left;
    width: 230px;
    height: 300px;
    margin-top: 10px;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: url(../images/myRadiusPhoto2.jpg) no-repeat;
    background-size: 100% 100%;
}
#aboutContent{
    float: left;
    width: 490px;
    height: 260px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px 10px 20px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #acb;
	line-height: 170%;
}

/*-------------------about end*/

#contact{
	width: 800px;
	margin:  0 auto;
	display: none;
}
#contactTitle{
	font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}
#contactContent{
	margin-left: 60px;
	line-height: 30px;
}

/*-------------------contact end*/

/*--------------------blog start*/
#blog3{
	display: none;
	width: 800px;
	margin: 0 auto;
}
#blog2{
	display: none;
	width: 800px;
	margin: 0 auto;
}
#blog1{
	display: none;
	width: 800px;
	margin: 0 auto;
}

.blogTitle{
	font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}
.blogImg{
	width: 720px;
	height: 260px;
	background: #1bc;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 15px;
}
.blogContent{
	margin: 0 auto;
	/*此处如果设置为800px ,p元素宽度就被固定了，为什么？*/
	/*好像是p元素按div宽度展开了*/
	width: 700px;
    padding: 10px 50px;
}

/*.blogContent p{
	width: 720px;
	margin: 0 auto;
}*/ 
#blog3 .blogImg{
	background: url(../images/sicun.jpg);
	background-size: 100% 100%;
}
#blog2 .blogImg{
	position: relative;
	overflow: hidden;
}
#blog2 ul{
	position: absolute;
	width: 2880px;
	left: 0px;
	list-style: none;
}
#icoBox{
	position: absolute;
	width: 80px;
	height: 10px;
	z-index: 10;
	bottom: 15px;
	right: 10px;
}
#icoBox span{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin-left: 5px;
	background-color: red;
	float: left;
	background: #FFF;
	cursor: pointer;
}
#icoBox span.active{
    background: #c5dfc5;
    cursor: default;
}
#blog2 ul li{
	float: left;
}
#blog1 .blogImg{
	background: url(../images/dian2.jpg);
	background-size: 100% 100%;
}
#blog1 .blogContent{
	width: 740px;
	padding: 10px 30px;
}
#blog1 iframe{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 740px;
    height: 900px;
	text-indent: 2 em;
}